body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
    background-image: url(./img/bg.jpg);  
    background-position: 50%;
    background-size: 120%;
    background-attachment: fixed;
}

.header,
.containerOne,
.footer {
    background-color: #1F2937;
}

.header {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerOne,
.containerTwo,
.containerThree,
.containerFour {
    padding: 2% 5%;
}



.left-header p {
    font-size: 24px;
    color: #f9faf8;
}

.textLeft p,
.right-header p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.right-header {
    display: flex;
    gap: 30px;
    justify-content: end;
}

.right-header p:hover {
    color: green;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 5px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    border: solid 1px white;
}

button:hover {
    opacity: 0.8;
}

.imgRight {
    width: 550px;
    height: 250px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 20px;
}

.contentOne { 
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    color: #1F2937;
}

.squareForm {
    width: 200px;
    height: 200px;
    border: solid 5px lightskyblue;
    border-radius: 10px;
    position: relative;
}

.squareForm:hover .image {
    opacity: 0.3;
}
  
.squareForm:hover .text {
    opacity: 1;
}

.squareContainer p {
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: whitesmoke;
}

.square p {
    color:  grey;
    font-style: italic;
}

.squareContainer {
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 100px;
    flex-wrap: wrap;
    
}

.square {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.containerThree {
    background: slategrey;
}

.pContainerThreeFirst {
    font-style: italic;
}

.pContainerThreeSecond {
    align-self: end;
    font-size: small;
    font-weight: bold;
    text-align: end;
}

.contentContainerFour {
    width: 800px;
    height: 150px;
    background-color: rgb(79, 128, 238);
    padding: 20px 100px;
    border-radius: 5px;
    flex-shrink:0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pContainerFourFirst {
    font-weight: bold;
    color: white;
}

.pContainerFourSecond {
    color: white;
}

.footer {
    padding: 10px 200px;
    text-align: center;
    color: white;
    font-size: small;
}

.containerTwo {
    display: flex;
    align-items:center;
    flex-direction: column;

}

.containerFour {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFourLeftContent {
    flex-shrink: 1;
}

.innerContainer {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}





