body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.containerOne,
.footer {
    background-color: #1F2937;
}

.containerTwo,
.containerThree,
.containerFour {
    padding: 100px 400px;
}

.containerTwo {
    padding-top: 50px;
}

.containerOne {
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 400px;
}

.header {
    padding-top: 10px;
}

.left-header p {
    font-size: 24px;
    color: #f9faf8;
}

.textLeft p,
.right-header p {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.imgRight {
    width: 550px;
    height: 250px;
    margin: 10px;
    background-color: rgb(111, 116, 124);
    color: white;
}

.contentOne{ 
    padding-top: 40px;
}

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    color: #1F2937;
}

.squareForm {
    width: 200px;
    height: 200px;
    border: solid 5px lightskyblue;
    border-radius: 10px;
}

.square p {
    color:  grey;
    font-style: italic;
}

.containerThree {
    background-color: #E5E7EB;
}

.pContainerThreeFirst {
    font-style: italic;
}

.pContainerThreeSecond {
    text-align: end;
    font-size: small;
    font-weight: bold;
}

.contentContainerFour {
    width: 80%;
    height: 150px;
    background-color: rgb(79, 128, 238);
    padding: 20px 100px;
    border-radius: 5px;
}

.pContainerFourFirst {
    font-weight: bold;
    color: white;
}

.pContainerFourSecond {
    color: white;
}

.containerFour button {
    border: solid 1px white;
}

.footer {
    padding: 10px 200px;
    text-align: center;
    color: white;
    font-size: small;
}

/* Further style setting */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    display: flex;
    gap: 30px;
}

.contentOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgRight {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

h1 {
    margin-bottom: 5px;
}

.textLeft p {
    margin-bottom: 10px;
}

.containerTwo {
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    flex-direction: column;

}

.squareContainer {
    display: flex;
    width: 200px;
    justify-content: space-around;
    gap: 100px;
    
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

